body {
  background: url(/img/litefl_bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav .nav-pills a {
    color: white;
}


.faucetshead {
  border-bottom: 2px solid #dadada;
  padding: 5px;
  margin: 1em 0;
}

.faucetshead .value {
  text-align: center;
}

.faucet {
  border: 1px solid #dadada;
  background-color: white;
  padding: 5px;
  margin: 1em 0;
}

.faucet:hover {
  background-color: #fafafa;
}

.faucet .value {
  font-size: 1.2em;
  text-align: center;
}

.faucet .title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Анимация загрузки
 * http://codepen.io/AsLittleDesign/pen/ZbVVwa
*/
.loader {
  height: 20px;
  width: 250px;
  margin: 4em auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
