body {
  background: url(/img/bg.jpg) repeat;
  background-attachment: fixed;
}

.nav .nav-pills a {
    color: white;
}

nav.navbar {
  margin: 0 auto;
  border-top: 4px solid #337ab7;
}

table.faucets-list {
  background-color: white;
  box-shadow: 0 0 2px rgba(150, 150, 150, 0.4);
}

  table.faucets-list .ad {
    width: 728px;
    height: 90px;
    background-color: #aaa;
    margin: 0 auto;
  }

  .faucets-list .faucet.visited .visit-btn {
    background-color: #ffce85;
    color:  #79715D;
    border: transparent;
  }

.copyleft {
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
   -khtml-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  display: inline-block;
}

#tab-help {
    padding: 20px;
}

footer {
    background: #f2f2f2;
    padding-top: 10px;
}

/************************************************
 * LOCALE - i18n
 ************************************************
 */

html[lang=ru] .i18n-en {
  display: none;
}

.i18n-ru {
  display: none;
}

html[lang=ru] .i18n-ru {display: initial;}




/************************************************
 * AD - рекламные блоки
 ************************************************
 */

.ad-box {
  background-color: #aaa;
  margin: 0 auto;
}

  .ad-box.ad-vertical-left,
  .ad-box.ad-vertical-right {
    width: 120px;
    height: 600px;
    margin: 0 auto;
    position: fixed;
    top: 10%;

  }

  .ad-box.ad-vertical-left {left: 3%;}
  .ad-box.ad-vertical-right {right: 3%;}

  @media only screen and (max-width: 1500px) {
    .ad-box.ad-vertical-left,
    .ad-box.ad-vertical-right{
      display:none;}
  }


  .ad-box.ad-top-left,
  .ad-box.ad-top-right{
    width: 468px;
    height: 60px;}

  .ad-box.ad-tablerow-one {
    width: 728px;
    height: 15px;}

  .ad-box.ad-tablerow-two {
    width: 468px;
    height: 15px;}

  .ad-box.ad-footer-left,
  .ad-box.ad-footer-right {
    width: 468px;
    height: 15px;}

  .ad-box.ad-footer-big {
    width: 728px;
    height: 90px;}


/* ADDRESSBOOK */
#addressbook {
    bottom: 0;
    left: 0;
    width: 36em;
    position: fixed;
}

#addressbook .input-group {
    margin: 1em 0;
}

@media screen and (max-width: 39.9375em) {
    #addressbook {
        width: 100%;
    }
}

#addressbook .panel {
    display: block;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 1em;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.39);
}

#addressbook.hidepane .panel {
    display: none;
}

#addressbook .showbookbtn {
    margin: 0;
}

#addressbook.hidepane .showbookbtn {
    display: inline;
}

/* === */

/************************************************
 * BOOTSTRAP REWRITE
 ************************************************
 */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-top: 2px solid #337ab7;
}

.tab-content {
  background-color: white;
}

.btn, .btn-lg, .panel, .panel-heading {
    border-radius: 0;
}
